/* file is not updating properly. need to troubleshoot */
/*need help*/

body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 24px; 
	line-height: 30px
	background-color: #12fc8f;

}

header{
	background-color: #2134c2;
	text-align: center;
	padding-bottom: 50px
	padding-top: 50px

}

h1, h2{
	font-family: 'Piazzolla', serif;
}

header h1{
	color: #b0f573;
	font-size: 50px;
	
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 30px; black;
	padding-top: 20px;
	padding-bottom 20px;
}

main{
	max-width: 800px
	margin: 5, auto;
	padding: 20px;
}
main-img{
	max-width: 100%;
}

h2{
	font-size: 24px
	color:#b2f24b;
	margin:	40px 0 10px;
}
a{
	color: #e70c19;
}
a:hover{
	background-color:#483a94;
	color:white;
}
footer{
	background-color: #2134c2;
	text-align: center;
	color: white
	padding: 50px;
}

footer p{
	margin: 0;
}
footer a{
	color:white;
}

footer a{
	opacity: 0.5
	background-color:transparent;

p.caption{
	color: #9999;
	font-style: italic;
	margin-top: 0;

}
